altair==2.2.2
altair-catplot==0.0.3
arrow==0.14.2
backcall==0.1.0
bebi103==0.0.29
bleach==2.1.4
bokeh==0.13.0
bqplot==0.11.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorcet==0.9.1
cycler==0.10.0
Cython==0.28.5
dask==0.19.4
datashader==0.6.8
datashape==0.5.2
decorator==4.3.0
defusedxml==0.5.0
distributed==1.23.3
docopt==0.6.2
entrypoints==0.2.3
h5py==2.9.0
HeapDict==1.0.0
-e git+https://github.com/willdickson/h5_logger.git@fb016bf1e1ae69be1301971b70d44226ed4b4c34#egg=hg_logger
html5lib==1.0.1
idna==2.7
ipykernel==5.0.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyterlab==0.34.12
jupyterlab-launcher==0.13.1
jupytext==0.7.2
kiwisolver==1.0.1
llvmlite==0.25.0
locket==0.2.0
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.3
mock==2.0.0
msgpack==0.5.6
multipledispatch==0.6.0
nbconvert==5.4.0
nbformat==4.4.0
nbinteract==0.2.1
networkx==2.2
nodejs==0.1.1
notebook==5.7.0
numba==0.40.1
numpy==1.15.2
-e git+https://github.com/annierak/odor_tracking_sim@e10e25429587be5fed0d55630686c63b7ccdca4e#egg=odor_tracking_sim
optional-django==0.1.0
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
param==1.8.1
parso==0.3.1
partd==0.3.9
pbr==4.3.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
-e git+https://github.com/annierak/fly_pompy.git@d788bf662c193334ac24fba93c474d2e82960d51#egg=pompy
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psutil==5.4.7
ptyprocess==0.6.0
pyct==0.4.5
Pygments==2.2.0
pyparsing==2.2.2
pystan==2.18.0.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
requests==2.19.1
scikit-image==0.14.1
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sortedcontainers==2.0.5
tblib==1.3.2
terminado==0.8.1
testfixtures==6.3.0
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
traittypes==0.2.1
typing==3.6.6
urllib3==1.23
vega==1.4.0
vega-datasets==0.6.0
watermark==1.6.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xarray==0.10.9
zict==0.1.3
